/* Basic styles */

html {
    scroll-behavior: smooth;
}

#section-main {
    background-position: center 30%;
    background-attachment: fixed;
    background-image: url('../images/wallpaper_alternative.jpg');
}

#section-bottom {
    background-image: url('../images/wallpaper_primary.jpg');
}

.bg-image-1 {
    top: 120px;
    background-image: url('../images/main_1.png');
}

.bg-image-2 {
    top: 120px;
    background-image: url('../images/main_2.png');
}

.logos {
    max-width: 100px;
    max-height: 70px;
}

p {
    font-family: 'Montserrat', sans-serif;
}

.font-primary {
    font-family: 'Montserrat', sans-serif;
}

.font-secondary {
    font-family: 'Montserrat Alternates', sans-serif;
}
 
.timeline-container {
    width: 80%;
    padding: 50px 30px;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
}
 
.timeline-container:before {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -1px;
    width: 2px;
    height: 100%;
    background-color: #ccd1d9;
    z-index: 1;
}
 
.timeline-block {
    width: -webkit-calc(50% + 8px);
    width: -moz-calc(50% + 8px);
    width: calc(50% + 8px);
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -moz-box-pack: justify;
    justify-content: space-between;
    clear: both;
}
 
.timeline-block-right {
    float: right;
}

.timeline-block-left {
    float: left;
    direction: rtl;
}
 
.marker {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    border: 1px solid #38b2ac;
    background-color: #2c7a7b;
    margin-top: 25px;
    z-index: 9999;
}
 
.timeline-content {
    width: 95%;
}

.timeline-content p,
.timeline-content ul {
    direction: ltr;
}

@media screen and (max-width: 768px) {
   .timeline-container {
       width: 100%;
       padding: 50px 30px;
       margin: 0 auto;
       position: relative;
       overflow: hidden;
   }

   .timeline-container:before {
       left: 38px;
       width: 2px;
   }

   .timeline-block {
       width: 100%;
       margin-bottom: 30px;
   }

   .timeline-block-right {
      float: none;
   }

   .timeline-block-left {
       float: none;
       direction: ltr;
   }
   
   .timeline-content {
       width: 90%;
   }
}
 