/* Basic styles */

#section-main {
    background-position: 0 30%;
    background-attachment: fixed;
    background-image: url('/whoami/images/wallpaper_alternative.jpg');
}

#section-bottom {
    background-image: url('/whoami/images/wallpaper_primary.jpg');
}

#profile-mobile {
    top: 120px;
    background-image: url('/whoami/images/main_profile_mobile.jpg');
}

.logos {
    max-width: 100px;
    max-height: 70px;
}

p {
    font-family: 'Montserrat', sans-serif;
}

.font-primary {
    font-family: 'Montserrat', sans-serif;
}

.font-secondary {
    font-family: 'Montserrat Alternates', sans-serif;
}